.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
backend.tf
.artifacts/
.sts-infra/
environments/local/
__pycache__/
*.py[cod]
.DS_Store
.venv/
.idea/
.vscode/
modules/aws/aurora-postgres/lambda/*.zip
